{% extends "bootstrap/base.html" %}

{% block styles %}
{#    {{ super() }}#}
    <link rel="stylesheet" href="{{ url_for('static', filename='bootstrap.min.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}"/>
{% endblock %}

{% block scripts %}
{#    {{ super() }}#}
    <script src="{{ url_for('static', filename='jquery.min.js') }}"></script>
    <script src="{{ url_for('static', filename='bootstrap.min.js') }}"></script>
    <script src="{{ url_for('static', filename='wanakana.min.js') }}"></script>
    <script src="{{ url_for('static', filename='main.js') }}"></script>
{% endblock %}

{% block title %}Kojirin ALPHA{% endblock %}

{% block navbar %}
<div class="navbar navbar-inverse navbar-fixed-top" role="navigation">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a href="/" class="navbar-brand">小辞林
                <sup>
                    {% if config['DATASOURCE'] == 'local' %}
                        <span class="label label-danger">localdb</span>
                    {% else %}
                        <span class="label label-danger">ALPHA</span>
                    {% endif %}
                </sup>
            </a>
            <a href="#" id="lnkGoToTop" class="navbar-brand"><span aria-hidden="true" class="glyphicon glyphicon-circle-arrow-up"></span></a>
        </div>
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li><a href="/">Home</a></li>
                <li><a href="/about">About</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="navbar navbar-default navbar-fixed-bottom footer">
    <div class="container">
        <div class="navbar-inner navbar-content-center">
            <p class="text-muted">Copyright © 2015 <a href="https://www.twitter.com/sdiox">@sdiox</a></p>
        </div>
    </div>
</div>
{% endblock %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="row-lg-12">
                <div class="alert alert-danger hidden" id="divError">
                    <span class="glyphicon glyphicon-exclamation-sign" aria-hidden="true"></span>
                    <b>Error:</b> <span id="spanErrorMsg"></span>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}
